extends layout

block content
	div.wrapper
		nav
			div.logo
				a.title(href='/')=title
			div.signinupout
					div.inlineblock
						a(href='/signin', id='signin') sign in 
		div.postquack
			form(action='/' method='post')
				span Quack quack: 
				input(name='quack' type='text' size='100') 
				input(type='submit' name='quackSubmit' value='submit' id='submitbutton') 
		div.feed
			each quack in recentQuacks
				p=quack.quack_content