extends layout

block content

  nav
    div.logo
      a.title(href='/')=title
    div.quacklogo
      img(src='../images/quack.svg')
    div.signinupout 
      div.inlineblock
        a(href='#', id='signin') sign in
        form(action='/' method='post' id='signinform')
          input(name='username' type='text' size='20' placeholder='username')
          input(name='password' type='password' size='20' placeholder='password')
      div.inlineblock 
        a(href='#', id='singup') sign up
        form(action='/' method='post' id='signupform')
          input(name='username' type='text' size='20' placeholder='username')
          input(name='password' type='text' size='20' placeholder='password')
      div.inlineblock 
        a(href='#', id='signout') sign out 
  div.quacks
    form(action='/' method='post')
      p Quack quack: 
      input(name='quack' type='textbox' class='quackinput' placeholder="What's happening?")
      button(type='submit' name='quackSubmit') submit
