body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/ducks-background.jpg") no-repeat #fffafe;
}

.wrapper {
	width: 90%;
	margin: auto;
}

a {
  color: #000;
  text-decoration: none;
}

nav {
	float: left;
	display: block;
	width: 100%;
	background-color: rgba(255, 0, 255, 0.9);
	height: 50px;
	border-radius: 10px;
}

.title {
	font-size: 36px;
}

.logo {
	display: block;
	float: left;
	width: 25%;
	padding-left: 20px;
}

.signinupout {
	display: block;
	float: right;
	padding-right: 20px;
	padding-top: 15px;
}

.inlineblock {
	display: inline-block;
	position: relative;
}

.inlineblock a {
	padding: 10px;
}

.inlineblock form {
	display: none;
	float: left;
	position: absolute;
	top: 18px;
	left: 9px;
}

.inlineblock form input {
	display: block;
}

.postquack {
	float: left;
	display: block;
	width: 100%;
	padding-left: 25px;
	padding-top: 25px;
}

.postquack form input {
	border-radius: 10px;
}

/*.feed {
	width: 75%
	margin: auto;
	border: 1px solid #000;
}*/